{
    email chong.wang@me.com
}

h1bfriend.com, www.h1bfriend.com, h1bfriendly.com, www.h1bfriendly.com {
    redir https://h1bfinder.com{uri} permanent
}

h1bfinder.com, www.h1bfinder.com {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8089
    }

    handle {
        reverse_proxy web:3000
    }
}
